@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root
{
  --main: black;
  --main-lower: gray;
  --main-med: lightgray;
}

body
{
  margin: 0;
  background: lightgray;
  background: var(--main-med);
  scroll-behavior: smooth;
  height: 100%;
}

::selection
{
  background: var(--main);
  color: white;
}

.margin
{
  margin: 20px;
}

.indent
{
  margin-left: 20px;
}

.noselect
{
  user-select: none;
}

.inline-block
{
  display: inline-block;
}

.tag, .tag-dashed, .tag-filled
{
  border-radius: 10px;
  padding: 7px;
  text-align: center;
  border: 2px solid;
}

.tag
{
  color: var(--main-lower);
}

.tag-dashed
{
  color: var(--main);
}

.tag-filled
{
  border: 2px solid var(--main);
  background: var(--main);
  color: white;
}

.status
{
  min-width: 100px;
}

div.border
{
  border: 2px solid black;
}

div.border-radius
{
  border-radius: 10px;
}

.background
{
  background: white;
}

div.top
{
  background: black;
  background: var(--main);
  color: white;
  padding: 20px;
  text-align: right;
  position: sticky;
  top: 0;
}

div.top p
{
  display: inline-block;
  padding: 10px;
  font-family: 'Roboto Mono', monospace;
}

div.top a
{
  color: white;
  text-decoration: none;
  outline: none;
}

div.top a:hover, div.top a:focus
{
  background: white;
  color: var(--main);
}

div.body
{
  max-width: 500px;
}

p
{
  font-family: 'Alata', sans-serif;
  margin: 0;
  line-height: 1.35;
  color: var(--main);
}

p.top-margin
{
  margin-top: 10px;
}

p.small
{
  font-size: 13px;
}

a
{
  text-decoration: none;
  color: rgb(90, 90, 90);
  outline: none;
}

a:hover
{
  color: var(--main-lower);
  cursor: pointer;
}

a:active
{
  color: rgb(65, 65, 65);
}

p.title, h1
{
  font-family: 'Anton', sans-serif;
  font-size: 43px;
}

h1, h2, h3
{
  font-weight: 400;
  font-family: 'Anton', sans-serif;
}

p.header, h2
{
  font-family: 'Anton', sans-serif;
  font-size: 30px;
}

img
{
  width: 180px;
  height: 180px;
}

img.rounded
{
  border-radius: 50%;
}

div.card
{
  width: 300px;
  padding: 20px;
}

input
{
  background: white;
  border: none;
  outline: none;
  padding: 7px;
  font-family: 'Alata', sans-serif;
  margin: 0;
}

div.background input
{
  background: none;
  border: 1px solid gray;
}

div.background input:focus
{
  border: 1px solid black;
}

code
{
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  background: rgb(199, 199, 199);
  border-radius: 10px;
  padding: 5px;
  border: 2px solid transparent;
  user-select: all;
}

code::selection
{
  background: none;
  color: rgb(68, 68, 68);
}

button
{
  padding: 8px;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  color: var(--main);
  font-family: 'Alata', sans-serif;
  min-width: 110px;
  background: white;
  transition-duration: 0.1s;
}

div.background button
{
  background: none;
  border: 2px solid;
}

button:hover
{
  cursor: pointer;
  border: 2px solid var(--main);
}

button:active, div.background button:active
{
  background: var(--main);
  color: white;
  border: 2px solid var(--main);
}

button:disabled
{
  color: var(--main-lower);
}

button:disabled:hover
{
  cursor: not-allowed;
  border: 2px solid white;
}

button.form
{
  border-radius: 0;
  vertical-align: middle;
}

form
{
  margin: 0;
}

hr
{
  border: 0;
  border-top: 1px solid var(--main);
}

.list
{
  color: var(--main);
  padding: 5px;
  background: white;
  margin: 5px;
}

textarea
{
  padding: 10px;
  background: white;
  border: 1px solid var(--main-lower);
  outline: none;
  font-family: 'Roboto Mono', monospace;
  min-width: 200px;
  min-height: 100px;
  resize: none;
}

textarea::-webkit-scrollbar
{
  width: 10px;
}

textarea::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background: var(--main-med);
  border: none;
}

ul
{
  margin: 0;
  margin-top: 10px;
  padding: 0;
  padding-left: 17px;
}

li
{
  margin-top: 5px;
}

::-webkit-scrollbar
{
  width: 10px;
}

::-webkit-scrollbar-thumb
{
  background: rgb(182, 182, 182);
  border: none;
}

::-webkit-scrollbar-thumb:hover
{
  background: rgb(167, 167, 167);
}

div.tooltip-bar
{
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  background: var(--main);
  color: white;
  border: 2px solid var(--main);
}

div.tooltip-bar:hover
{
  cursor: pointer;
}

div.tooltip-bar p
{
  color: white;
}

img.display
{
  width: 100%;
  object-fit: cover;
}

img.social-button
{
  height: 35px;
  width: 35px;
  background: white;
  border-radius: 50%;
  padding: 5px;
  display: inline-block;
  margin: 5px;
  border: 2px solid white;
  transition-duration: 0.1s;
}

img.social-button:hover
{
  border: 2px solid var(--main);
}

img.social-button:active, img.social-button:focus
{
  filter: invert(1);
  border: 2px solid white;
}

a.div-capsule
{
  outline: none;
  text-decoration: none;
}

div.factbox
{
  bottom: 20px;
  right: 20px;
  background: white;
  border-radius: 10px;
  position: fixed;
  padding: 20px;
  width: 250px;
}

img.icon-small
{
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

button:active img
{
  filter: invert(1);
}

span.arrow
{
  transition-duration: 0.1s;
}

a.arrow-frame:hover span.arrow
{
  margin-left: 5px;
}

a.link img
{
  opacity: .6;
}

a.link:hover img
{
  opacity: .5;
}

a.link:active img
{
  opacity: .7;
}

button:disabled img
{
  opacity: .6;
}

div.news-card
{
  width: 600px;
  padding: 30px;
  text-align: left;
  border-radius: 15px;
  background: white;
  border: 2px solid white;
}

img.like-button
{
  padding: 2px;
}

img.like-button:hover
{
  cursor: pointer;
}

img.disabled
{
  opacity: .6;
}

img.disabled:hover
{
  cursor: not-allowed;
}

div.like-container-disabled p
{
  color: var(--main-lower);
}

div.like-container-disabled
{
  display: inline-block;
}

div.like-container-disabled:hover
{
  cursor: not-allowed;
}

button:disabled img
{
  opacity: .4;
  filter: none;
}

video
{
  outline: none;
  width: auto;
  height: 250px;
  border-radius: 10px;
}

select
{
  border: 1px solid var(--main-lower);
  display: inline;
  background: white;
  padding: 1px;
  font-family: Alata;
  outline: none;
  font-size: 13px;
}

select:disabled
{
  border: 1px solid var(--main-lower);
}

.glow
{
  box-shadow: 0px 0px 20px var(--main-lower);
}

#testButton, #resetButton
{
  border-radius: 0;
  border: 1px solid var(--main-lower);
}

#testButton:active, #resetButton:active
{
  border: 1px solid var(--main);
}

a.link img
{
  height: 10px;
  width: 10px;
}